<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AopProxy" type="AopProxy.AOP.Config.AopProxyConfigSectionHandler, AopProxy" />
  </configSections>
  <AopProxy>
    <Advisors>
      <Advisor PointCutType="AopProxy.AOP.Attribute.LogAttribute, AopProxy" AdviseType="Demo.Advice.LogAdvice, Demo" />
      <Advisor PointCutType="AopProxy.AOP.Attribute.ThrowsAttribute, AopProxy" AdviseType="Demo.Advice.ExceptionAdvice, Demo" />
      <Advisor PointCutType="AopProxy.AOP.Attribute.TransactionAttribute, AopProxy" AdviseType="Demo.Advice.TransactionAdvice, Demo" />
      <Advisor PointCutType="Demo.MyAttribute.BeforeAttribute, Demo" AdviseType="Demo.Advice.BeforeAdvice, Demo" />
    </Advisors>
  </AopProxy>
</configuration>