<?xml version="1.0" encoding="utf-8" ?>
<AopProxy>
  <PointCuts>
    <PointCut JoinPoint="AopProxy.Attribute.AroundAttribute, AopProxy.Attribute">
      <Advice Type="" />
    </PointCut>
    <PointCut JoinPoint="AopProxy.Attribute.ThrowsAttribute, AopProxy.Attribute">
      <Advice Type="" />
    </PointCut>
  </PointCuts>
</AopProxy>
